<!DOCTYPE html>
<html>
    <head>
        <%- include("partials/head-base", {title: "Bienvenido a Desapego"}) %>

        <link rel="stylesheet" href="/css/index.css" />
        <link
            rel="stylesheet"
            href="/css/index-md.css"
            media="(min-width: 481px)"
        />
        <link
            rel="stylesheet"
            href="/css/index-lg.css"
            media="(min-width: 769px)"
        />
    </head>

    <body class="bg-muted">
        <header><%- include("partials/header") %></header>

        <h1>
            Hola, <%= user ? `${user.firstName} ${user.lastName}` : "invitado"%>
        </h1>

        <main>
            <div class="form-index-container bg-medium form-index-container-lg">
                <form action="" class="form-index form-index-md form-index-lg">
                    <div
                        class="form-index-input-container-container width-100 form-index-input-container-container-md form-index-input-container-container-lg"
                    >
                        <div
                            class="form-index-input-container width-100 form-index-input-container-md form-index-input-container-lg"
                        >
                            <label
                                for="distancia"
                                class="text-light text-align-center width-100"
                            >
                                <span
                                    class="form-index-label bg-muted text-primary display-block"
                                    >¿Qué se vende cerca?</span
                                ></label
                            >
                            <div
                                class="display-flex justify-content-center align-items-center width-100 index-range-container"
                            >
                                <p>- km</p>
                                <input
                                    class="display-block"
                                    type="range"
                                    id="distancia"
                                    name="distancia"
                                    min="0"
                                    max="50"
                                />
                                <p>+ km</p>
                            </div>
                        </div>
                        <div
                            class="form-index-input-container width-100 form-index-input-container-md form-index-input-container-lg"
                        >
                            <label
                                for="precio"
                                class="width-100 text-align-center"
                            >
                                <span
                                    class="form-index-label bg-muted text-primary display-block"
                                    >¿Cuánto quiero gastar?</span
                                ></label
                            >
                            <div
                                class="display-flex justify-content-center align-items-center width-100 index-range-container"
                            >
                                <p>$</p>
                                <input
                                    type="range"
                                    id="precio"
                                    name="precio"
                                    min="0"
                                    max="50"
                                />
                                <p>$$$</p>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <button
                            class="button form-index-button bg-primary text-light form-index-button-lg"
                            type="submit"
                        >
                            Buscar
                        </button>
                    </div>
                </form>
            </div>
            <% if(products.length == 0 && search ){ %>
            <div>
                <p>La búsqueda no arrojó resultados</p>
            </div>
            <%} %>
            <div
                class="featured-products display-flex justify-content-center width-100 featured-products-lg"
            >
                <% products.forEach(product => { %> <%-
                include("./product/partials/product-card", {product}) %> <% });
                %>
            </div>
            <div class="slider">
                <ul>
                    <li>
                        <img src="/images/products/iphone.jpg" alt="" />
                    </li>
                    <li>
                        <img src="/images/products/macbookpro.jpg" alt="" />
                    </li>
                    <li><img src="/images/products/tv.jpg" alt="" /></li>
                    <li>
                        <img src="/images/products/ventilador.jpg" alt="" />
                    </li>
                    <li>
                        <img src="/images/products/desapegate.jpg" alt="" />
                    </li>
                </ul>
            </div>
            <div
                class="boton-vender-container padding-y-15 display-flex align-items-center bg-secondary justify-content-center"
            >
                <p class="text-light padding-x-20 text-align-center">
                    ¿Interesado en vender? En Desapego podés encontrar
                    compradores cerca tuyo.
                </p>
                <a href="/product/create" class=""
                    ><button
                        class="bg-primary button cursor-pointer boton-vender text-light"
                    >
                        ¡Quiero vender!
                    </button></a
                >
            </div>
        </main>

        <footer class="bg-dark text-light text-align-center">
            <%- include("partials/footer") %>
        </footer>
    </body>
</html>
