<!DOCTYPE html>
<html>
    <head>
        <%- include("../partials/head-base", {title: "Tu carrito"}) %>
        <link rel="stylesheet" href="/css/productCart.css" />
        <link rel="stylesheet" href="/css/productDetail.css" />
        <link
            rel="stylesheet"
            href="/css/productCart-md.css"
            media="(min-width: 481px)"
        />
        <link
            rel="stylesheet"
            href="/css/productCart-lg.css"
            media="(min-width: 769px)"
        />
    </head>

    <body class="bg-muted">
        <header><%- include("../partials/header") %></header>
        <div
            class="cart-top-banner display-flex justify-content-space-between align-items-center bg-primary width-100 text-light"
        >
            <h1 class="cart-title font-size-1-2">Tu carrito</h1>
            <i class="fas fa-shopping-cart cart-basket-icon"></i>
        </div>
        <main class="display-flex justify-content-center align-items-center">
            <div class="cart-container padding-x-15">
                <div class="cart-product">
                    <div
                        class="cart-product-image-container bg-light width-90 padding-10"
                    >
                        <img
                            src="/images/products/<%= addedToCartProduct.image %>"
                            alt=""
                            class="cart-product-image width-100"
                        />
                    </div>
                    <p
                        class="cart-product-name font-weight-600 text-align-center"
                    >
                        <%= addedToCartProduct.name %>
                    </p>
                    <div
                        class="cart-ammount-and-price-container display-flex justify-content-space-between align-items-center"
                    >
                        <div
                            class="display-flex justify-content-flex-start align-items-baseline width-50"
                        >
                            <p>
                                <span
                                    class="cart-ammount-number bg-light text-secondary font-weight-600"
                                    >1</span
                                >
                                unidad
                            </p>
                            <div class="cart-ammount-controls-container">
                                <i
                                    class="far fa-plus-square cart-ammount-controls"
                                ></i
                                ><i
                                    class="far fa-minus-square cart-ammount-controls"
                                ></i>
                            </div>
                        </div>
                        <p
                            class="cart-price bg-light text-success font-weight-600"
                        >
                            &#36;<%= toThousand(addedToCartProduct.price) %>
                        </p>
                    </div>
                </div>
                <div
                    class="product-buttons-container display-flex justify-content-center product-buttons-container-md"
                >
                    <button
                        class="product-button-buy button text-light bg-success product-button-buy-md"
                        onclick="window.location.href='/'"
                    >
                        Continuar Compra
                    </button>
                    <button
                        class="product-button-cancel button text-light bg-danger product-button-cancel-md"
                    >
                        Vaciar Carrito
                    </button>
                </div>
            </div>
            <div
                class="seller-and-payment-methods-container bg-light padding-y-15 width-100 display-flex flex-direction-column seller-and-payment-methods-container-md"
            >
                <div
                    class="cart-seller-container display-flex justify-content-space-evenly align-content-center"
                >
                    <div class="cart-seller-img-container width-30">
                        <img
                            src="/images/seller-detail/vendedor.jpg"
                            alt=""
                            class="cart-seller-img width-100"
                        />
                    </div>
                    <div
                        class="cart-seller-name-and-stars display-flex flex-direction-column justify-content-space-evenly"
                    >
                        <p class="cart-seller-name">Juana Pérez</p>
                        <div class="cart-seller-stars">
                            <i class="fas fa-star"></i
                            ><i class="fas fa-star"></i
                            ><i class="fas fa-star"></i
                            ><i class="fas fa-star"></i
                            ><i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
                <div
                    class="product-payment-methods-container display-flex flex-direction-column align-items-center padding-y-15"
                >
                    <p
                        class="product-payment-text font-size-0-9 font-weight-600 text-align-center"
                    >
                        Medios de pago aceptados:
                    </p>
                    <div
                        class="product-payment-icons-container display-flex justify-content-space-evenly width-100"
                    >
                        <div
                            class="product-payment-icon-item bg-muted display-flex justify-content-center align-items-center"
                        >
                            <i class="fas fa-credit-card text-primary"></i>
                        </div>
                        <div
                            class="product-payment-icon-item bg-muted display-flex justify-content-center align-items-center"
                        >
                            <i class="far fa-money-bill-alt text-primary"></i>
                        </div>
                        <div
                            class="product-payment-icon-item bg-muted display-flex justify-content-center align-items-center"
                        >
                            <i class="fas fa-university text-primary"></i>
                        </div>
                        <div
                            class="product-payment-icon-item bg-muted display-flex justify-content-center align-items-center"
                        >
                            <i class="fas fa-mobile-alt text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="bg-dark text-light text-align-center">
            <%- include("../partials/footer") %>
        </footer>
    </body>
</html>
